* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

header,table, div.btn_box, footer {
  width: 80%;
  border-collapse: collapse;
}

header {
  background-color: antiquewhite;
  color: black;
  text-align: center;
  padding: 2rem;
}

table {
  
  border-spacing: 0;
  margin: 10px auto;
}

tr {
  border: 1px solid #aaa;
  cursor: pointer;
}

tr:nth-of-type(odd) {
  background-color: #ccc;
}

tr:nth-of-type(even) {
  background-color: #eee;
}

th,
td {
  white-space: nowrap;
  padding: 6px;
  text-align: center;
}

div.btn_box {
  text-align: right;
}

footer {
  text-align: center;
  background-color: burlywood;
  color: black;
  padding: 10px;
}