<!DOCTYPE html>
<html lang="korea">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>반갑습니다</h1>
    <h3>우리나라는 <%- nation %>
    </h3>

    <!-- 가급적 사용하지 않는것이 좋음 -->
    <!-- 모듈에서 모두 만들어서 사용하는것이 좋다. -->
    <h4>
        <% const na="대한민국" %>
            <%- aaa%>
    </h4>
    <h4>
        <%= html %>
    </h4>
    <h4>
        <%- html %>
    </h4>

</body>

</html>