extends layout

block content
	script(src="/js/order.js")
	style.
		section.main {
			display: flex;

		}
		article {
			border:1px solid green;
			margin: 10px;
			padding : 10px;
			background-color:#ddd;
		}
		article.order_list {
			flex: 2;
		}
		article.product_list {
			flex: 3;
			display: flex;
			flex-wrap:wrap;
		}

		article.product_list div.menu {
			width:100px;
			margin:5px;
			border: 1px solid red;
			background-color: #ddd;
			color:blue;

		}
		div.order_list {
			display : flex;
		}
	
		/* 테이블 메뉴를 보관한다? 무슨말이지 */

	article.order_list(data-table_id= table_id)
		h1 !{table_id} 번 테이블 주소 리스트
	
	article.product_list
		each menu_item, index in MENU
			div.menu(data-menu_id= menu_item.p_code)
				h3= menu_item.p_name
				p= menu_item.p_price

	

	